<html>

<head>
	<title>Upload Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
	<center>
		<div class="jumbotron jumbotron-fluid">
			<div class="container">
				<h1 class="display-4">Welcome <%=Name%></h1>
				<form action="/imgupload" method="POST" enctype="multipart/form-data">



					<input type="file" id="image" name="image" required>

					<hr>
					<button type="submit">Upload</button>
				</form>
				<button type="submit"><a href="/">Home</a></button>
				<button type="submit"><a href="/upload">Logout</a></button>
			</div>
		</div>
		<div class="album py-5 bg-light">
			<div class="container">
				<div class="row">
					<% items.forEach(function(image) { %>
					<div class="col-md-4 text-center">
						<div class="card mb-4  shadow-sm">
							<img src="data:image/<%=image.img.contentType%>;base64,
								<%=image.img.data.toString('base64')%>" style="width: 350px;height: 400px">
						</div>
						<div>
							<form class="" action="/delete" method="post">
								<button type="submit" value="<%=image._id%>" name="picture">
									Delete
								</button>
							</form>
						</div>
					</div>
					<% }) %>
				</div>
			</div>
		</div>
	</center>

</body>

</html>
