.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    border-radius: 0;
    background-image: url("https://images.unsplash.com/photo-1486746730710-0e7ce7b07038?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");

    
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
      background-image: url("https://images.unsplash.com/photo-1486746730710-0e7ce7b07038?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
      background-position:0; 
    }
    .card{
      width: 400px;
      height: 400px;
    }
  }

  .mheading{
    margin: 40px 0 40px;
  }

  .navbar, .collapse{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  }

  .btn:hover{
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    border:1.4px solid grey;
    color: white;
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
    
  }

  .card{
      width: 350px;
      height: 400px;
      margin: 0 auto 0 auto;
    }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }